Repository bigcommerce/checkout-js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bigcommerce/team-checkout, @bigcommerce/team-integrations, @bigcommerce/team-paypal

Move build fully to cloudbuild.yaml
  .tool-versions
  builder/Dockerfile
  builder/cloudbuild.yaml
  cloudbuild.yaml
Owners: @bigcommerce/team-checkout

chore(payment): PAYPAL-4591 bump checkout sdk version to 1.659.1
  package-lock.json
  package.json
Owners: @bigcommerce/team-checkout, @bigcommerce/team-integrations, @bigcommerce/team-paypal

chore(payment): PAYPAL-4591 bump checkout sdk version to 1.659.1
  package-lock.json
  package.json
Owners: @bigcommerce/team-checkout, @bigcommerce/team-integrations, @bigcommerce/team-paypal

feat(payment): STRIPE-444 New Stripe UPE (Spike)
  packages/core/src/app/payment/paymentMethod/PaymentMethodList.tsx
  packages/core/src/app/ui/accordion/Accordion.spec.tsx
  packages/core/src/app/ui/accordion/AccordionItem.tsx
  packages/core/src/app/ui/form/Checklist.tsx
  packages/core/src/app/ui/form/ChecklistItem.tsx
  packages/core/src/scss/components/checkout/checklist/_checklist.scss
  packages/stripe-integration/src/stripe-upe/StripeUPEPaymentMethod.tsx
  packages/ui/src/accordion/Accordion.spec.tsx
  packages/ui/src/accordion/Accordion.tsx
  packages/ui/src/accordion/AccordionContext.tsx
  packages/ui/src/accordion/AccordionItem.spec.tsx
  packages/ui/src/accordion/AccordionItem.tsx
  packages/ui/src/accordion/__snapshots__/AccordionItem.spec.tsx.snap
  packages/ui/src/accordion/index.ts
  packages/ui/src/index.ts
Owners: @bigcommerce/team-checkout, @bigcommerce/team-integrations

feat(payment): STRIPE-444 New Stripe UPE (PoC)
  packages/ui/src/accordion/Accordion.spec.tsx
Owners: @bigcommerce/team-checkout

.github/CODEOWNERS:

## Checkout team

* @bigcommerce/team-checkout
/packages/checkout-button-integration @bigcommerce/team-checkout
/packages/core @bigcommerce/team-checkout
/packages/dom-utils @bigcommerce/team-checkout
/packages/error-handling-utils @bigcommerce/team-checkout
/packages/hosted-credit-card-integration @bigcommerce/team-checkout
/packages/legacy-hoc @bigcommerce/team-checkout
/packages/payment-integration-api @bigcommerce/team-checkout
/packages/test-framework @bigcommerce/team-checkout
/packages/workspace-tools @bigcommerce/team-checkout

## Shared
package.json @bigcommerce/team-checkout @bigcommerce/team-integrations @bigcommerce/team-paypal
package-lock.json @bigcommerce/team-checkout @bigcommerce/team-integrations @bigcommerce/team-paypal

## Payment integrations team

/packages/affirm-integration @bigcommerce/team-integrations
/packages/adyen-integration @bigcommerce/team-integrations
/packages/barclay-integration @bigcommerce/team-integrations
/packages/bolt-integration @bigcommerce/team-integrations
/packages/bluesnap-direct-integration @bigcommerce/team-integrations
/packages/mollie-integration @bigcommerce/team-integrations
/packages/squarev2-integration @bigcommerce/team-integrations
/packages/td-bank-integration @bigcommerce/team-integrations
/packages/stripe-integration @bigcommerce/team-integrations
/packages/klarna-integration @bigcommerce/team-integrations

# Core
/packages/core/payment/paymentMethod/AffirmPaymentMethod.tsx @bigcommerce/team-integrations
/packages/core/payment/paymentMethod/AmazonPaymentMethod.tsx @bigcommerce/team-integrations
/packages/core/payment/paymentMethod/BoltClientPaymentMethod.tsx @bigcommerce/team-integrations
/packages/core/payment/paymentMethod/BoltCustomForm.tsx @bigcommerce/team-integrations
/packages/core/payment/paymentMethod/BoltCustomFormValues.ts @bigcommerce/team-integrations
/packages/core/payment/paymentMethod/BoltEmbeddedPaymentMethod.tsx @bigcommerce/team-integrations
/packages/core/payment/paymentMethod/BoltPaymentMethod.tsx @bigcommerce/team-integrations
/packages/core/payment/paymentMethod/CCAvenueMarsPaymentMethod.tsx @bigcommerce/team-integrations
/packages/core/payment/paymentMethod/ChasePayPaymentMethod.tsx @bigcommerce/team-integrations
/packages/core/payment/paymentMethod/CheckoutcomCustomPaymentMethod.tsx @bigcommerce/team-integrations
/packages/core/payment/paymentMethod/DigitalRiverPaymentMethod.tsx @bigcommerce/team-integrations
/packages/core/payment/paymentMethod/KlarnaPaymentMethod.tsx @bigcommerce/team-integrations
/packages/core/payment/paymentMethod/KlarnaV2PaymentMethod.tsx @bigcommerce/team-integrations
/packages/core/payment/paymentMethod/MasterpassPaymentMethod.tsx @bigcommerce/team-integrations
/packages/core/payment/paymentMethod/MonerisPaymentMethod.tsx @bigcommerce/team-integrations
/packages/core/payment/paymentMethod/OpyPaymentMethod.tsx @bigcommerce/team-integrations
/packages/core/payment/paymentMethod/SquarePaymentMethod.tsx @bigcommerce/team-integrations
/packages/core/payment/paymentMethod/StripePaymentMethod.tsx @bigcommerce/team-integrations
/packages/core/payment/paymentMethod/StripeUPEPaymentMethod.tsx @bigcommerce/team-integrations
/packages/core/payment/paymentMethod/StripeV3CustomCardForm.tsx @bigcommerce/team-integrations
/packages/core/payment/paymentMethod/WorldpayCreditCardPaymentMethod.tsx @bigcommerce/team-integrations

## PayPal team
/packages/core/payment/paymentMethod/BraintreeCreditCardPaymentMethod.tsx @bigcommerce/team-paypal
/packages/core/payment/paymentMethod/PaypalCommerceCreditCardPaymentMethod.tsx @bigcommerce/team-paypal
/packages/core/payment/paymentMethod/PaypalExpressPaymentMethod.tsx @bigcommerce/team-paypal
/packages/core/payment/paymentMethod/PaypalPaymentsProPaymentMethod.tsx @bigcommerce/team-paypal

/packages/braintree-integration @bigcommerce/team-paypal
/packages/paypal-commerce-integration @bigcommerce/team-paypal
/packages/paypal-fastlane-integration @bigcommerce/team-paypal
/packages/paypal-express-integration @bigcommerce/team-paypal

## Shared
/packages/core/customer/checkoutSuggestion @bigcommerce/team-checkout @bigcommerce/team-integrations @bigcommerce/team-paypal

/packages/apple-pay-integration @bigcommerce/team-checkout @bigcommerce/team-integrations @bigcommerce/team-paypal
/packages/google-pay-integration @bigcommerce/team-checkout @bigcommerce/team-integrations @bigcommerce/team-paypal
packages/wallet-button-integration @bigcommerce/team-checkout @bigcommerce/team-integrations @bigcommerce/team-paypal

## Localization team
/packages/locale/src/translations @bigcommerce/team-checkout
